@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

*{
  font-family: "Montserrat", sans-serif;
}

@theme {
  --color-primary: #F5F5F5;
  --color-secondary: #5D3FD3;
  --color-accent: #0B1215;
}

