@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

*{
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@theme {
  --color-primary: #F5F5F5;
  --color-secondary: #5D3FD3;
  --color-accent: #0B1215;
}

.custom-fullcalendar .fc-toolbar-chunk button {
  padding: 0.5rem 1rem; 
}

.custom-fullcalendar .fc-toolbar-title {
  font-size: 1rem;
}

/* datepicker-custom.css */
.react-datepicker {
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #5D3FD3;
  border-radius: 0.5rem;
}

.react-datepicker__header {
  background-color: #5D3FD3;
  color: white;
  border-bottom: none;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #0B1215 !important;
  color: #fff;
}

.react-datepicker__time-container .react-datepicker__time {
  background-color: #F5F5F5;
}
